.divcomp-l7aepk6y {
  position: absolute;
  top: 835.19px;
  left: 863px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 241px;
  height: 5px;
}
.divlwbaav {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.untitled20design2041png-icon,
.untitled20design2041png-icon1 {
  position: absolute;
  top: 0;
  left: 1
  0%;
  width: 70%;
  height: 100%;
  object-fit: fill;
}
.untitled20design2041png-icon1 {
  top: 465.5px;
  left: 337px;
  width: 43px;
  height: 122px;
}
.wow-image-child {
  position: absolute;
  top: 484px;
  left: 337px;
  width: 43px;
  height: 2px;
}
.friends-sitting-cafe-using-mob-icon {
  position: absolute;
  top: 139.5px;
  left: 479px;
  width: 217px;
  height: 352px;
  object-fit: cover;
}
.wow-image {
  position: absolute;
  height: 100%;
  top: 0;
  right: 314px;
  bottom: 1px;
  left: 600px;
  width: 900px;
}
.ready-to-elevate {
  margin: 0;
}
.ready-to-elevate2{
  margin: 0;
  margin-left: 300px;
}
.ready-to-elevate3{
  margin: 0;
  margin-left: 0px;
}
.ready-to-elevate-container {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 40px;
  font-size: 30px;
  font-weight: 700;
}
.heading-2 {
  position: absolute;
  top: 47px;
  left: 300px;
  width: 400px;
  display: flex;
  flex-direction: row;
  /* padding: 5px 0.410003662109375px 4px 0; */
  align-items: flex-start;
  justify-content: flex-start;
}
.gain-access-to {
  position: relative;
  line-height: 26.6px;
}
.heading-3 {
  position: absolute;
  top: 158px;
  left: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.6px;
  font-size: var(--font-size-lgi);
  color: var(--color-gray-100);
  font-size: 16px;
  font-weight: 400;
}
.link-contact-us {
  position: absolute;
  height: 50px;
  /* width: 150px; */
  top: 279px;
  right: 1324px;
  bottom: 371px;
  left: 300px;
  background-image: linear-gradient(to right, #4CB6E3
  , #4E9F3D);
  border-radius: 50px;
  width: 200px;
}
.divlwbaav-parent {
  position: absolute;
  top: 783px;
  left: 0;
  width: 100%;
  height: 694px;
  text-align: left;
  font-size: 40px;
  color: var(--color-darkcyan);
  font-family: var(--font-montserrat);
}
.divlwbaav1 {
  position: absolute;
  height: calc(100% - 4613.34px);
  width: 1518px;
  top: 2229.5px;
  right: 0;
  bottom: 2383.84px;
  left: 0;
  background-color: #c8eef5;
}
.lets-begin-your,
.what-are-you {
  position: absolute;
  top: 2291.5px;
  left: 300px;
  font-size: var(--font-size-32xl);
  line-height: 61.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 962.51px;
  height: 62px;
}
.what-are-you {
  top: 2354.69px;
  left: 375px;
  width: 811.86px;
}
.how-would-you-container {
  position: absolute;
  top: 2426.88px;
  left: 350px;
  font-size: 17px;
  line-height: 22.1px;
  width: 850px;
  font-family: var(--font-poppins);
}
.divcomp-l3sr8c902-icon {
  position: absolute;
  top: 2542.16px;
  left: 300px;
  width: 380px;
  height: 493px;
  object-fit: cover;
}
.presentation-icon {
  position: absolute;
  height: 40%;
  width: 300px;
  top: 1695.16px;
  right: 1064px;
  bottom: 2511.84px;
  left: 340px;
  max-width: 100%;
  max-height: 100%;
  /* z-index: 99999999999999; */
}
.agency-brands {
  position: absolute;
  top: 2882.16px;
  left: 340px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  width: 278.81px;
  height: 24px;

  margin: 0;
  font-style: italic;
}
.link-find-out {
  position: absolute;
  height: calc(100% - 5440px);
  /* width: 130px; */
  top: 2918.16px;
  right: 1133px;
  bottom: 2521.84px;
  left: 380px;
  background-image: linear-gradient(to right, #4CB6E3
  , #4E9F3D);
  border-radius: 50px;
  width: 200px;
}
.pseudo-icon,
.pseudo-icon1 {
  position: absolute;
  top: 3009.16px;
  left: 822px;
  width: 165px;
  height: 26px;
  object-fit: cover;
}
.pseudo-icon1 {
  left: 1072px;
}
.divlwbaav2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(213, 216, 224, 0.5);
}
.divbglayers-comp-l3u1q2lq {
  position: absolute;
  height: calc(100% - 4861px);
  width: 100%;
  top: 3087px;
  right: 1px;
  bottom: 1774px;
  left: -1px;
}
.why-clients-love-container {
  position: relative;
  line-height: 44.8px;
}
.heading-4 {
  position: absolute;
  top: 76px;
  left: 580px;
  width: 450px;
  display: flex;
  flex-direction: row;
  padding: 0 0.230010986328125px 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-13xl);
  font-family: var(--font-montserrat);
}
.zomato-logo-1png-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 89px;
  height: 89px;
  object-fit: cover;
}
.wow-image1 {
  position: absolute;
  height: calc(100% - 520.73px);
  width: calc(100% - 1831px);
  top: 164.79px;
  right: 1269px;
  bottom: 355.94px;
  left: 350px;
}
.arjun-singh,
.brand-innovation {
  position: absolute;
  top: 3px;
  left: 6%;
  line-height: 26px;
}
.brand-innovation {
  top: 34px;
  left: 10%;
  font-size: var(--font-size-smi);
  color: var(--color-darkmagenta);
}
.heading-21 {
  position: absolute;
  top: 267.79px;
  left: 300px;
  width: 254.08px;
  height: 58px;
}
.skitch-ads-enables {
  position: absolute;
  top: -2px;
  left: 4.24px;
  line-height: 27.2px;
}
.out-of-home-campaigns-with,
.same-speed-and {
  position: absolute;
  top: 26.19px;
  left: -1px;
  line-height: 27.2px;
}
.same-speed-and {
  top: 54.38px;
  left: 1.22px;
}
.online-media-offers,
.providing-superior-accountabil {
  position: absolute;
  top: 82.56px;
  left: 34.59px;
  line-height: 27.2px;
}
.providing-superior-accountabil {
  top: 110.75px;
  left: 1.34px;
}
.spanwixui-rich-text-text {
  position: absolute;
  top: 347.79px;
  left: 250px;
  width: 286.72px;
  height: 135.75px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.presentation-icon1 {
  position: absolute;
  height: 47.79px;
  width: 100px;
  top: 497.79px;
  right: 1297px;
  bottom: 66px;
  left: 339px;
  max-width: 100%;
  max-height: 100%;
}
.untitled20design2035-edite-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 144px;
  height: 56px;
  object-fit: cover;
}
.wow-image2 {
  position: absolute;
  height: calc(100% - 553.73px);
  width: calc(100% - 1776px);
  top: 180.79px;
  right: 889px;
  bottom: 372.94px;
  left: 667px;
}
.director,
.ramakrishna {
  position: relative;
  line-height: 26px;
}
.director {
  font-size: var(--font-size-smi);
  color: var(--color-darkmagenta);
}
.heading-22 {
  position: absolute;
  top: 267.79px;
  left: 650px;
  display: flex;
  flex-direction: column;
  padding: 3px 0.089996337890625px 0 0;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.i-love-skitch {
  position: absolute;
  top: -2px;
  left: 40.76px;
  line-height: 27.2px;
}
.easy-to-work,
.reporting-services-they {
  position: absolute;
  top: 54.38px;
  left: 8.72px;
  line-height: 27.2px;
}
.easy-to-work {
  top: 82.56px;
  left: 65.89px;
}
.spanwixui-rich-text-text1 {
  position: absolute;
  top: 347.79px;
  left: 600px;
  width: 370.05px;
  height: 107.56px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.presentation-icon2 {
  position: absolute;
  height: 47.79px;
  width: 100px;
  top: 497.79px;
  right: 943px;
  bottom: 72px;
  left: 693px;
  max-width: 100%;
  max-height: 100%;
}
.jain-heritage-school-logopng-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 219px;
  height: 44px;
  object-fit: cover;
}
.wow-image3 {
  position: absolute;
  height: calc(100% - 565.73px);
  width: calc(100% - 1701px);
  top: 183.79px;
  right: 493px;
  bottom: 381.94px;
  left: 998px;
}
.ceo,
.chandrasekhar {
  position: absolute;
  top: -5px;
  left: 13.58px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 212.03px;
  height: 36px;
}
.ceo {
  top: 34px;
  left: 106.19px;
  font-size: var(--font-size-smi);
  color: var(--color-darkmagenta);
  width: 26.97px;
  height: 19px;
}
.heading-23 {
  position: absolute;
  top: 270.79px;
  left: 984px;
  width: 239px;
  height: 57px;
}
.our-reach-has {
  position: absolute;
  top: -2px;
  left: -1px;
  line-height: 27.2px;
}
.effective-for-almost,
.spend-thanks-to {
  position: absolute;
  top: 26.19px;
  left: 6.28px;
  line-height: 27.2px;
}
.spend-thanks-to {
  top: 54.38px;
  left: 6.43px;
}
.spanwixui-rich-text-text2 {
  position: absolute;
  top: 347.79px;
  left: 980px;
  width: 330.41px;
  height: 79.38px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.presentation-icon3 {
  position: absolute;
  height: 47.79px;
  width: 100px;
  top: 497.79px;
  right: 583px;
  bottom: 72px;
  left: 1053px;
  max-width: 100%;
  max-height: 100%;
}
.div {
  position: absolute;
  width: 1518px;
  top: 3087px;
  right: 1px;
  left: -1px;
  height: 609.73px;
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-darkcyan);
  font-family: var(--font-poppins);
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 0.91%;
  width: 1.39%;
  top: 61.52%;
  right: 96.21%;
  bottom: 37.57%;
  left: 2.4%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon1 {
  right: 2.51%;
  left: 96.1%;
}
.as-recognised-by-container {
  position: absolute;
  top: 49px;
  left: 675.67px;
  font-size: var(--font-size-base);
  line-height: 22.4px;
  color: var(--color-gray-100);
  width: 200px;
}
.leading-stakeholders-in,
.our-innovative-work {
  position: absolute;
  top: 87.39px;
  left: 428.64px;
  line-height: 38.4px;
  width: 780px;
}
.leading-stakeholders-in {
  top: 126.78px;
  left: 425.73px;
}
.wow-image-icon,
.wow-image-icon1 {
  position: absolute;
  height: 90px;
  width: 90px;
  top: 194.17px;
  right: 1371px;
  bottom: 74.83px;
  left: 255px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.wow-image-icon1 {
  height: 90px;
  width: 90px;
  top: 198.17px;
  right: 1186px;
  bottom: 77.83px;
  left: 459px;
  object-fit: cover;
}
.wow-image-icon2,
.wow-image-icon3,
.wow-image-icon4,
.wow-image-icon5,
.wow-image-icon6 {
  position: absolute;
  height: 90px;
  width: 90px;
  top: 190.17px;
  right: 1058px;
  bottom: 70.83px;
  left: 634px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.wow-image-icon3,
.wow-image-icon4,
.wow-image-icon5,
.wow-image-icon6 {
  height: 90px;
  width: 90px;
  top: 205.17px;
  right: 856px;
  bottom: 86.83px;
  left: 812px;
  object-fit: cover;
}
.wow-image-icon3{
  height: 90px;
  width: 250px;
  top: 205.17px;
  right: 856px;
  object-fit: cover;

}
.wow-image-icon4,
.wow-image-icon5,
.wow-image-icon6 {
  height: 90px;
  width: 90px;
  top: 203.17px;
  right: 714px;
  bottom: 88.83px;
  left: 1014px;
  object-fit: cover;

}
.wow-image-icon5,
.wow-image-icon6 {
  right: 559px;
  left: 1179px;
  object-fit: cover
}
.wow-image-icon5{
  height: 80px;
  width: 150px;
  top: 205.17px;
  right: 856px;
  object-fit: cover;
}
.wow-image-icon6 {
  height: 90px;
  width: 90px;
  top: 192.17px;
  right: 416px;
  bottom: 86.83px;
  left: 1311px;
  object-fit: cover;

}
.divlwbaav-group {
  position: absolute;
  height: calc(100% - 5104px);
  width: 100%;
  top: 3697px;
  right: 0;
  bottom: 1407px;
  left: 0;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-darkcyan);
  font-family: var(--font-montserrat);
}
.divlwbaav4 {
  position: absolute;
  height: calc(100% - 4974px);
  width: 760px;
  top: 4064px;
  right: 1px;
  bottom: 910px;
  left: 759px;
  background-color: #fcf8ed;
}
.skitch-ads-campaign-stories-container {
  position: absolute;
  top: 4166px;
  left: 870px;
  width: 300px;
  font-size: var(--font-size-base);
  line-height: 22.4px;
  color: var(--color-gray-100);
  text-align: left;
}
.additional {
  font-family: var(--font-montserrat);
}
.gaming-app-unlocks-container {
  position: absolute;
  top: 4209.39px;
  left: 870px;
  font-size: var(--font-size-13xl);
  line-height: 35.2px;
  text-align: left;
  width: 630px;

}
.link-case-studies {
  position: absolute;
  height: calc(100% - 5427px);
  /* width: 180px; */
  top: 4412.14px;
  right: 547px;
  bottom: 1014.86px;
  left: 870px;
  background-image: linear-gradient(to right, #4CB6E3
  , #4E9F3D);
  border-radius: 50px;
  width: 200px;
}
.divlwbaav5 {
  position: absolute;
  height: calc(100% - 4980px);
  width: 100%;
  top: 4561px;
  right: 0;
  bottom: 419px;
  left: 0;
  background-color: rgba(213, 216, 224, 0.71);
}
.get-in-touch-container {
  position: absolute;
  top: 4636px;
  left: 335px;
  font-size: var(--font-size-base);
  line-height: 25.2px;
  color: var(--color-gray-100);
  text-align: left;
  width: 300px;
}
.learn-more-about-container {
  position: absolute;
  top: 4666.18px;
  left: 335px;
  font-size: var(--font-size-13xl);
  line-height: 35.2px;
  text-align: left;
  width: 400px;
}
.were-on-a-container {
  position: absolute;
  top: 4785.75px;
  left: 335px;
  line-height: 26px;
  color: var(--color-gray-100);
  text-align: left;
  width: 450px;
}
.wow-image-icon7 {
  position: absolute;
  height: 465px;
  width: 350px;
  top: 4589px;
  right: 544px;
  bottom: 472px;
  left: 935px;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}
.link-case-studies1 {
  position: absolute;
  height: 45px;
  /* width: 150px; */
  top: 4921px;
  right: 1208px;
  bottom: 506px;
  left: 335px;
  background-image: linear-gradient(to right, #4CB6E3
  , #4E9F3D);
  border-radius: 50px;
  width: 200px;
}
.served-christmas-table-setting-icon {
  position: absolute;
  top: 4064px;
  left: 0;
  width: 760px;
  height: 497px;
  object-fit: fill;

}
.divlwbaav6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #4cb6e3, #4e9f3d);
}
.copyright-all-rights {
  position: relative;
}
.heading-5,
.heading-51 {
  position: absolute;
  top: 8.78px;
  display: flex;
}
.heading-5 {
  left: 486px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-51 {
  left: 1300px;
  align-items: center;
  width: 126.51px;
  height: 15px;
}
.divlwbaav-container,
.divlwbaav7 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.divlwbaav-container {
  height: calc(100% - 5436px);
  width: calc(100% - 1px);
  top: 5436px;
  left: 1px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.divlwbaav7 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-black);
}
.indias-largest-restaurant {
  position: absolute;
  top: 136px;
  left: 337px;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 321px;
}
.asias-first-contextually,
.dooh-network {
  position: absolute;
  top: 229.78px;
  left: 337px;
  font-size: var(--font-size-base);
  line-height: 22.4px;
  width: 300px;

}
.dooh-network {
  top: 253.17px;
}
.heading-24,
.heading-25,
.link-askadonmocom {
  position: absolute;
  left: 893px;
  line-height: 14.4px;
}
.heading-24 {
  top: 90px;
  display: flex;
  align-items: center;
  width: 150.98px;
  height: 22px;
}
.heading-25,
.link-askadonmocom {
  top: 123.39px;
  width: 180px;
}
.heading-25 {
  top: 121.39px;
  left: 1084px;
  display: flex;
  align-items: center;
  width: 159.92px;
  height: 22px;
}
.skitch-ads {
  position: absolute;
  top: 60px;
  left: 337px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.45px;
  line-height: 58.5px;
  font-weight: 700;
  color: var(--color-skyblue);
  width: 180px;

}
.item-link-wow-image-c439,
.item-link-wow-image-f61c {
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
  object-fit: cover;
}
.item-link-wow-image-c439 {
  left: 49px;
}
.item-link-wow-image-da7e,
.item-link-wow-image-e067,
.item-link-wow-image-e9bb {
  position: absolute;
  top: 0;
  left: 98px;
  width: 39px;
  height: 39px;
  object-fit: cover;
}
.item-link-wow-image-e067,
.item-link-wow-image-e9bb {
  left: 147px;
}
.item-link-wow-image-e067 {
  left: 196px;
}
.list-social-bar {
  position: absolute;
  height: calc(100% - 345px);
  width: 250px;
  top: 312px;
  right: 1198px;
  bottom: 33px;
  left: 337px;
}
.frame-section {
  position: absolute;
  top: 5052px;
  left: 0;
  width: 100%;
  height: 384px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.outdoor-restaurant-with-wooden-icon {
  position: absolute;
  top: 2545px;
  left: 842px;
  width: 375px;
  height: 464px;
  object-fit: cover;
}
.presentation-icon4 {
  position: absolute;
  height: 40%;
  width: 300px;
  top: 1695.16px;
  right: 584px;
  bottom: 2511.84px;
  left: 883px;
  max-width: 100%;
  max-height: 100%;
}
.inventory-space-provider {
  position: absolute;
  top: 2882.16px;
  left: 846.94px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  width: 365.31px;
  height: 24px;
}
.link-find-out1 {
  position: absolute;
  height: calc(100% - 5440px);
  /* width: 130px; */
  top: 2918.16px;
  right: 640px;
  bottom: 2521.84px;
  left: 934px;
  background-image: linear-gradient(to right, #4CB6E3
  , #4E9F3D);
  border-radius: 50px;
  width: 200px;
}
.empty-terrace-sunset-backgroun-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1518px;
  height: 754px;
  object-fit: cover;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 3px;
  background-color: rgba(0, 0, 0, 0.45);
  width: 1515px;
  height: 749px;
}
.why-restaurant {
  position: absolute;
  top: 0;
  width: 400px;
  left: 400px;
  font-size: 35px;
  letter-spacing: 0.35px;
  line-height: 49px;
  font-family: var(--font-poppins);
}
.people-across-india-container {
  position: absolute;
  top: 101px;
  left: 130.8px;
  width: 850px;
  font-size: 50px;
  letter-spacing: 0.5px;
  line-height: 55px;
  white-space: pre-wrap;
}
.heading-26,
.heading-6 {
  position: absolute;
  display: flex;
}
.heading-26 {
  top: 226px;
  left: 190.42px;
  font-size: 21px;
  width: 850px;
  letter-spacing: 0.21px;
  line-height: 31.5px;
  align-items: center;
  justify-content: center;
  width: 710.36px;
  height: 25px;
}
.heading-6 {
  top: 43px;
  left: 27px;
  width: 200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.household-consumption-in {
  position: relative;
  line-height: 21px;
}
.spanwixui-rich-text-text3 {
  position: absolute;
  top: 119px;
  left: 27px;
  width: 270px;
  display: flex;
  flex-direction: column;
  padding: 0 0.3899993896484375px 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
  font-size: var(--font-size-sm);
}
.div1 {
  position: absolute;
  width: calc(100% - 650px);
  top: 317.5px;
  right: 650px;
  left: 0;
  height: 293px;
  text-align: left;
}
.heading-61,
.spanwixui-rich-text-text4 {
  position: absolute;
  left: 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 250px;
}
.heading-61 {
  top: 43px;
  width: 200px;
  padding: 0 0.6100006103515625px 0 0;
}
.spanwixui-rich-text-text4 {
  top: 119px;
  gap: var(--gap-12xs);
  font-size: var(--font-size-sm);
}
.div2 {
  position: absolute;
  width: calc(100% - 650px);
  top: 317.5px;
  right: 317px;
  left: 333px;
  height: 293px;
  text-align: left;
}
.heading-62,
.spanwixui-rich-text-text5 {
  position: absolute;
  top: 50px;
  left: 27px;
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.spanwixui-rich-text-text5 {
  top: 119px;
  padding: 0 0.7700042724609375px 0 0;
  gap: var(--gap-12xs);
  font-size: var(--font-size-sm);
}
.divcomp-l3ya14sj {
  position: absolute;
  top: 288px;
  left: 27px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 45px;
  height: 5px;
}
.div3 {
  position: absolute;
  width: 500px;
  top: 310.5px;
  right: 0;
  left: 645px;
  height: 299px;
  text-align: left;
}
.why-restaurant-parent {
  position: absolute;
  top: 91px;
  left: 200px;
  width: 1300px;
  height: 610.5px;
}
.empty-terrace-sunset-backgroun-parent {
  position: absolute;
  top: 1475px;
  left: 0;
  width: 100%;
  height: 754px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.restaurant-hall-with-lots-tabl-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1518px;
  height: 783px;
  object-fit: fill;
}
.desktop-1-item,
.skitch-ads1 {
  position: absolute;
  top: 0;
  left: 0;
}
.desktop-1-item {
  background-color: rgba(0, 0, 0, 0.44);
  width: 1518px;
  height: 783px;
}
.skitch-ads1 {
  letter-spacing: 0.45px;
  line-height: 58.5px;
  font-weight: 700;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}
.indias-largest-restaurant1 {
  margin: 0;
  color: var(--color-white);
}
.indias-largest-restaurant-container1 {
  line-break: anywhere;
  width: 100%;
}
.indias-largest-restaurant-container {
  position: absolute;
  top: 78px;
  left: 0;
  font-size: 45px;
  letter-spacing: 0.45px;
  line-height: 54.5px;
  display: flex;
  align-items: center;
  width: 338.08px;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  color: var(--color-cornflowerblue);
}
.unleash-your-brands-container {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 30px;
}
.heading-27 {
  position: absolute;
  top: 304.5px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 0.25px 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
}
.button-explore-our-reach {
  position: absolute;
  height: calc(100% - 418.5px);
  top: 418.5px;
  right: 90.08px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #4CB6E3
  , #4E9F3D);
  border-radius: 50px;
  width: 200px;
}
.skitch-ads-parent {
  position: absolute;
  top: 169px;
  left: 873px;
  width: 338.08px;
  height: 461.5px;
  text-align: left;
  font-size: 42px;
  color: var(--color-white);
}
.frame-item {
  position: absolute;
  top: calc(50% - 39px);
  left: 0;
  background-color: rgba(255, 255, 255, 0.87);
  width: 100%;
  height: 78px;
}
.item-link,
.item-link1 {
  position: absolute;
  top: 30px;
  left: 1012.75px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43.7px;
  height: 18px;
}
.item-link1 {
  left: 1126.45px;
  color: var(--color-gray-100);
  width: 55.83px;
  cursor: pointer;
}
.skitch-ads2 {
  position: absolute;
  top: calc(50% - 30px);
  left: 15%;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.45px;
  line-height: 58.5px;
  font-weight: 700;
  color: var(--color-skyblue);
  text-align: left;
}
.rectangle-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  font-size: var(--font-size-sm);
  color: var(--color-darkmagenta);
  z-index: 1;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 1518px;
  height: 5471px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-darkcyan);
  font-family: var(--font-montserrat);
}
/* 
@media screen and (max-width: 600px) {
  .restaurant-hall-with-lots-tabl-icon{
    width: 300%;
  }
} */
/* @media screen and (max-width: 1600px) {
  .untitled20design2041png-icon,
.untitled20design2041png-icon1 {
  position: absolute;
  top: 0;
  left: 100px;
  width: 40%;
  height: 100%;
  object-fit: cover;
}
} */